{% extends "base.html" %}
{% load static %}
{% block content %}


<style>
  body {
    background-image: url("{% static 'images./portfolio_bg.jpg' %}");
  }
</style>


<div class="">

  <!-- WHITE ZONE -->

  <div class="top-right-bg col-md-7" style="float:right; display:block">

    <!-- SOCIAL MEDIA TOP -->

    <div class="row contact_top">
      <a id="fb" href="https://www.facebook.com/rajat.saxena.90410"><img src="{% static 'images/circlefb-logo.png' %}" width=20px height=20px/></a>
      <a id="linkedin" href="https://www.linkedin.com/in/rajat-saxena-54509a15b/"><img src="{% static 'images/linkedin-logo.png' %}" width=18px height=18px/></a>
      <a id="github" href="https://github.com/Rajat26599"><img src="{% static 'images/github-logo.png' %}" width=20px height=20px/></a>
      <a id="quora" href="https://www.quora.com/SilverCybr"><img src="{% static 'images/quora-logo.png' %}" width=20px height=20px/></a>
    </div>

    <!-- NAVBAR -->

    {% include "navbar.html" %}

    <div class="about_me container">
      <p id="name">RAJAT SAXENA</p><br>

      <h2 id="AboutHeading">ABOUT ME</h2>
      <hr class="solid" id="sep"style="width:80%;">
      <p style="font-size:20px;"><i>I'm a Full-Stack Web Developer from India. Being an experienced Graphic Designer adds a flavor in my personality.</i></p>
      <hr class="solid" id="sep" style="width:50%;">
      <p style="font-family: 'Work Sans', sans-serif;">I design thaoghtful, easy-to-use, and of course products with beautiful digital experience. I believe in designs that surpass common obstacles and make things easier for the user.<br>I have a personal philosophy in life: if somebody else can do something that I'm doing, they should do it. And what I want to do is to find things that would represent a unique contribution to the world - the contribution that only I, my portfolio of talents can make happen. Those are my priorities in life.</p>
    </div>

    <!-- FIXED SIDE NAVIGRATION -->

    <div class="fixedSide">
      <a href="#"><div class="workSide">
        <p>Work & Exp</p>
      </div></a>
      <a href="#skillSection"><div class="superPowSide">
        <p>Superpowers</p>
      </div></a>
      <a href="#"><div class="projectSide">
        <p>Projects</p>
      </div></a>
    </div>


    <!-- PROGRESS BARS -->


    <div class="skills" id="skillSection">
      <div class="progrss-left-panel container" style="background-color: rgba(255, 255, 255, 0.5); width:50%; float:left; margin-top:-16px; padding-top:20px; padding-bottom:30px">
        {% for skill in skills1 %}
        <p style="margin:10px"><span><b>{{skill.name}}</b></span>
          <span><img src="{{skill.icon_file}}{{skill.icon_url}}" height="20px"alt="PYTHON ICON"></span></p>

        <div class="progress" style="height:6px; width:90%">
          {% if skill.value > 0 and skill.value <= 50 %}
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif skill.value > 50 and skill.value <= 70 %}
          <div class="progress-bar bg-success" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif skill.value > 70 and skill.value <= 80 %}
          <div class="progress-bar bg-info" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif skill.value > 80 %}
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <p>Not Disclosed</p>
          {% endif %}
        </div>

        {% endfor %}


      </div>

      <div class="progrss-right-panel container" style="background-color: rgba(255, 255, 255, 0.5); width:50%; float:right; margin-top:-16px; padding-top:20px">
        {% for skill in skills2 %}
        <p style="margin:10px"><span><b>{{skill.name}}</b></span>
          <span><img src="{{skill.icon_file}}{{skill.icon_url}}" height="20px"alt="PYTHON ICON"></span></p>

        <div class="progress" style="height:6px; width:90%">
          {% if skill.value > 0 and skill.value <= 50 %}
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif skill.value > 50 and skill.value <= 70 %}
          <div class="progress-bar bg-info" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif skill.value > 70 and skill.value <= 80 %}
          <div class="progress-bar bg-success" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% elif skill.value > 80 %}
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{skill.value}}%" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
          {% else %}
          <p>Not Disclosed</p>
          {% endif %}
        </div>

        {% endfor %}
      </div>

    </div>

  </div>

  <!-- PROJECTS -->

  <div class="projects" style="height:400px;background:rgba(255,0,100,0.5);clear:both">
    <div class="card col-2" >
      <div class="projectImg" style="height:100px;">
        <!-- <img id="health-img" src="{% static 'images/healthforever.jpg' %}" border=10px alt=""> -->
      </div>
      <div class="container">
        <h4><b>HealthForever</b></h4>
        <p>Keep your doctor always with you.</p>
      </div>
    </div>
    <div class="card col-2" >
      <div class="projectImg" style="height:100px;">
        <!-- <img id="health-img" src="{% static 'images/healthforever.jpg' %}" border=10px alt=""> -->
      </div>
      <div class="container">
        <h4><b>HealthForever</b></h4>
        <p>Keep your doctor always with you.</p>
      </div>
    </div>
    <div class="card col-2" >
      <div class="projectImg" style="height:100px;">
        <!-- <img id="health-img" src="{% static 'images/healthforever.jpg' %}" border=10px alt=""> -->
      </div>
      <div class="container">
        <h4><b>HealthForever</b></h4>
        <p>Keep your doctor always with you.</p>
      </div>
    </div>
    <div class="card col-2" >
      <div class="projectImg" style="height:100px;">
        <!-- <img id="health-img" src="{% static 'images/healthforever.jpg' %}" border=10px alt=""> -->
      </div>
      <div class="container">
        <h4><b>HealthForever</b></h4>
        <p>Keep your doctor always with you.</p>
      </div>
    </div>

  </div>

</div>


{% endblock %}
