<html>
<head>
<title>One_Page_Resume</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (One_Page_Resume.jpg) -->
<table id="Table_01" width="2481" height="3509" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="10">
			<img src="images/One_Page_Resume_Web_01.gif" width="2480" height="307" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="307" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" rowspan="2">
			<img src="images/One_Page_Resume_Web_02.gif" width="1867" height="1091" alt=""></td>
		<td>
			<a href="https://www.linkedin.com/in/rajat-saxena-54509a15b" target="_blank">
				<img src="images/One_Page_Resume_03.png" width="441" height="57" border="0" alt="Linkedin link"></a></td>
		<td colspan="3" rowspan="4">
			<img src="images/One_Page_Resume_Web_04.gif" width="172" height="1598" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="57" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="images/One_Page_Resume_Web_05.gif" width="441" height="1541" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="1034" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="8">
			<img src="images/One_Page_Resume_Web_06.gif" width="918" height="973" alt=""></td>
		<td>
			<a href="https://khushiseyoga.com" target="_blank">
				<img src="images/One_Page_Resume_03.gif" width="430" height="60" border="0" alt="KSY"></a></td>
		<td colspan="2" rowspan="2">
			<img src="images/One_Page_Resume_Web_08.gif" width="519" height="507" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="60" alt=""></td>
	</tr>
	<tr>
		<td rowspan="11">
			<img src="images/One_Page_Resume_Web_09.gif" width="430" height="1479" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="447" alt=""></td>
	</tr>
	<tr>
		<td rowspan="14">
			<img src="images/One_Page_Resume_Web_10.gif" width="103" height="1603" alt=""></td>
		<td colspan="4">
			<a href="https://coursera.org/share/cb4762e2c852175292d746c052b1eb7a" target="_blank">
				<img src="images/One_Page_Resume_07.gif" width="945" height="54" border="0" alt="Angular Rajat"></a></td>
		<td rowspan="14">
			<img src="images/One_Page_Resume_Web_12.gif" width="84" height="1603" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="54" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="images/One_Page_Resume_Web_13.gif" width="945" height="121" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="121" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="https://www.udemy.com/certificate/UC-c70648d0-a160-400a-9ad4-8cffd3ee231e/" target="_blank">
				<img src="images/One_Page_Resume_07-15.gif" width="896" height="79" border="0" alt="Python Django Rajat"></a></td>
		<td rowspan="12">
			<img src="images/One_Page_Resume_Web_15.gif" width="49" height="1428" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="79" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/One_Page_Resume_Web_16.gif" width="896" height="109" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="109" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="https://www.udemy.com/certificate/UC-CU48KXDS/" target="_blank">
				<img src="images/One_Page_Resume_07-18.gif" width="896" height="57" border="0" alt="IoT Rajat"></a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="57" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="9">
			<img src="images/One_Page_Resume_Web_18.gif" width="896" height="1183" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="46" alt=""></td>
	</tr>
	<tr>
		<td rowspan="8">
			<img src="images/One_Page_Resume_Web_19.gif" width="96" height="1137" alt=""></td>
		<td>
			<a href="https://silvercyberblog.pythonanywhere.com" target="_blank">
				<img src="images/One_Page_Resume_07-21.gif" width="795" height="60" border="0" alt="SilverCyberBlog"></a></td>
		<td rowspan="2">
			<img src="images/One_Page_Resume_Web_21.gif" width="27" height="261" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="60" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/One_Page_Resume_Web_22.gif" width="795" height="201" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="201" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a href="https://github.com/Rajat26599/HealthForever" target="_blank">
				<img src="images/One_Page_Resume_10.gif" width="822" height="58" border="0" alt="HealthForever"></a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="58" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/One_Page_Resume_Web_24.gif" width="822" height="247" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="247" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="https://drive.google.com/drive/folders/1VRwpv21r_FM3HZt0udXiKneiZ5BJeLEc?usp=sharing" target="_blank">
				<img src="images/One_Page_Resume_12.gif" width="1252" height="55" border="0" alt="Water Level Indicator and Notifier"></a></td>
		<td>
			<img src="images/spacer.gif" width="1" height="55" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="images/One_Page_Resume_Web_26.gif" width="1252" height="201" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="201" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="https://github.com/Rajat26599/corona_tracker" target="_blank">
				<img src="images/One_Page_Resume_14.gif" width="795" height="57" border="0" alt="Corona Tracker"></a></td>
		<td colspan="2" rowspan="2">
			<img src="images/One_Page_Resume_Web_28.gif" width="457" height="315" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="57" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/One_Page_Resume_Web_29.gif" width="795" height="258" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="258" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="96" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="795" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="27" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="430" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="103" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="416" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="441" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="39" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="49" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="84" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>